.logo{
    height: 70%;
}
.home-part{
    display: flex;
    background-color: rgba(32, 178, 171, 0.288);
}
.home-title{
    margin-right: 250px;
    font-size: large;
    margin-left: 250px;
    text-align: center;
}
.tag{
    color: red;
}
.tag2{
    color: gold;
}