.header{
    text-align: center;
    display: flex;
    background-color: lightslategrey;
   border: 3px solid black;
}
.fas {
    color: rgba(255, 0, 0, 0.521);
}
.header-title{
    margin-right: 250px;
    font-size: large;
    margin-left: 250px;
}
.header nav{
    line-height: 40px;
    margin-top: 30px;
}
.header nav a{
    text-decoration: none;
     color: white;
     margin-right: 20px;
     margin-bottom: 20px;
     padding: 5px;
     font-size: 20px;
}
.header nav a:hover{
    background-color: lightgray;
}